
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p h1 h2 h3 h4 h5 h6{
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
}

/* --HEADER-- */

.header{
  
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list{
display: flex;
align-items: center;
gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
padding: 24px 0;
margin-right: 76px;
}

.web-studio {
    color: #2e2f42;
}



.link-text {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.link-text:hover {
    color: #404bbf;
}

.link-text:focus {
    color: #404bbf;
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}
address{
    font-style: normal;
}



.address-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}




/* --FIRST-SECTION-- */

.main-section {
    background-color: #2e2f42;

}
.main-wrapper{
    padding: 188px 316px 188px 316px;
}

.main-text{
max-width: 496px;
}
.main-title {
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
}

h1 {
    color: #FFFFFF;
}

.button {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;

    border: none;
    
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* --SECOND-SECTION-- */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

.section-title{
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.fuatures-items{
    display: flex;
    gap: 24px;
}

.description-text {
    font-size: 16px;
    line-height: 1.5%;
    letter-spacing: 0.02em;
    color: #434455;
}


.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding: 120px;
}

.team-section {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.list-item {
    background-color: #FFFFFF;
}

.team-profile {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-member {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* --FOURTH-SECTION-- */

.portfolio-section{
    padding: 120px 0;
}

.title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding-bottom: 72px;
}

.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* --FOOTER-- */

footer {
    background-color: #2e2f42;
}

.footer-container{
   padding: 100px 0;
}

span {
    color: #f4f4fd;
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}

.web-studio_text {
    color: #f4f4fd;
}

